/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
/* @import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato'); */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@1,700&family=Poppins:wght@200&display=swap');
/* font-family: 'Itim', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */


:root {
  /* change the values below to your colors from your palette */
  /* --primary-color: #4062BB;
  --secondary-color: #F45B69 ;
  --accent1-color: #59C3C3;
  --accent2-color: #52489C; */

  /* change the values below to your chosen font(s) */
  --heading-font: 'Itim','Lato', sans-serif;
  --paragraph-font: 'Poppins', 'Lato', sans-serif;;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #4062BB;  /* headlines on a white background */ 
  --headline-color-on-color: #EBEBEB; /* headlines on a colored background */ 
  --paragraph-color-on-white: #52489C; /* paragraph text on a white background */ 
  /* --paragraph-color-on-color: #EBEBEB; paragraph text on a colored background */ 
  /* --paragraph-background-color: #F45B69; */
  --nav-link-color: #EBEBEB;
  --nav-background-color: #59C3C3;
  --nav-hover-link-color: #EBEBEB;
  --nav-hover-background-color: #52489C;
}

body {
    /* max-width: 1200px; */
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
main {
    margin-top: 120px;
}
img {
    display: block;
    margin: 0 auto;
    width: 120px;
    /* padding: 10px; */
    justify-content: center;
    line-height: 200px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
h2 {
    text-align: center;
}
header {
    display: flex;
    text-align: center;
    width: 100%;
    color: var(--headline-color-on-color);
    background-color: var(--nav-background-color);
    position: fixed;
    top: 0;
    grid-column: 1/2;
    grid-row: 1/2;
}
header > h1, header > h2 {
    color: var(--headline-color-on-color);
}
.logo {
  padding: 5px 10px;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr 6em;
}
footer {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  color: var(--headline-color-on-color);
  background-color: var(--nav-background-color);
}
.social {
  display: flex;
}
.social-icon {
  width: 50px;
}
.home-grid {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0px;
}
.home-grid section {
  margin-bottom: 2em;
}
.aboutus-card > p {
  width: 60%;
  margin: auto;
  font-weight:400;
  background-color: rgba(255, 0, 0, 0.5);
  color: #EBEBEB;
  padding: 0.5em 2em;
}
.words-card {
  display: grid;
  grid-template-columns: 30% 68% 2%;
  /* grid-template-rows: repeat(3, 1fr); */
}
.personal-img {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: -1;
}
.words-card > .words-p {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #EBEBEB;
  border-radius: 5%;
  opacity: 0.7;
  padding: 0.5em 1em;
  height: fit-content;
  /* max-height: 400px; */
  overflow-y: scroll;
  align-self: center;
  margin-bottom: 2em;
  z-index: -1;
}
.words-p p span {
  float: right;
}

.socialmedia-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.socialmedia-card h2 {
  grid-column: 1/2;
  text-align: right;
  margin: 0px 2em;
  line-height: 1em;
}
.socialmedia-card div {
  grid-column: 2/3;
  height: fit-content;
  line-height: 1em;
}
.socialmedia-card img {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  vertical-align:middle;
}
.background-img {
  width: 100%;
  opacity: 0.5;
}
.background {
  grid-column: 1/2;
  grid-row: 1/4;
  z-index: -999;
}
.copy-right {
  grid-column: 1/2;
}
footer > p {
  grid-column: 2/3;
  padding: 0px 20px;
}
footer .social {
  grid-column: 3/4;
  margin: auto;
}
.social a {
  margin-right: 10px;
}
.socialmedia-card .social > a > img {
  width: 80px;
}